@font-face {
  font-family: "FiraSansCondensedBlack";
  src: url("../fonts/FiraSansCondensed-Black.ttf");
}
@font-face {
  font-family: "FiraSansCondensedLight";
  src: url("../fonts/FiraSansCondensed-Light.ttf");
}
@font-face {
  font-family: "FiraSansCondensedBold";
  src: url("../fonts/FiraSansCondensed-Bold.ttf");
}
@font-face {
  font-family: "FiraSansCondensedMedium";
  src: url("../fonts/FiraSansCondensed-Medium.ttf");
}
@font-face {
  font-family: "FiraSansCondensedRegular";
  src: url("../fonts/FiraSansCondensed-Regular.ttf");
}
@font-face {
  font-family: "FiraSansCondensedThin";
  src: url("../fonts/FiraSansCondensed-Thin.ttf");
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: FiraSansCondensedLight;
  font-size: 10px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.row, .steps {
  display: flex;
  width: 100%;
}
.row .container, .steps .container {
  align-self: center;
}

section, #juri, #mentors, #prize, #start {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1250px;
}

.number_active {
  color: white;
  font-size: 96px;
  font-weight: 900;
  width: 111px;
  letter-spacing: 0.75px;
  text-shadow: -3px 0 #00FFFF, 0 3px #00FFFF, 3px 0 #00FFFF, 0 -3px #00FFFD;
}

.number_inactive {
  color: white;
  font-size: 96px;
  width: 111px;
  font-weight: 900;
  letter-spacing: 0.75px;
  text-shadow: -3px 0 #DDDAFF, 0 3px #DDDAFF, 3px 0 #DDDAFF, 0 -3px #DDDAFF;
}

#start .text_1_white {
  font-family: FiraSansCondensedBold;
  font-weight: 900;
  font-size: 96px;
  line-height: 156%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #D6D9FF;
  position: absolute;
}
#start .zayavka {
  position: absolute;
  font-family: FiraSansCondensedBold;
  bottom: 64px;
  letter-spacing: 0.75px;
  font-size: 24px;
  color: #00FFFF;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 50;
  width: 134px;
  text-align: right;
}
#start .idea_plus {
  padding: 11px 15px 11px 16px;
  color: #00FFFF;
  background: rgba(0, 255, 255, 0.25);
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  font-family: FiraSansCondensedBold;
  font-size: 24px;
  line-height: 156%;
  text-align: center;
  letter-spacing: 0.75px;
  mix-blend-mode: soft-light;
  text-transform: lowercase;
}
#start .head_background {
  background-image: url("../images/glitch.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position-x: 250px;
  background-position-y: -25px;
  height: 100%;
  width: 100%;
}
#start #container {
  perspective: 25px;
  width: 50%;
  min-height: 100vh;
  left: 850px;
  position: absolute;
  top: 310px;
}
#start #container #inner {
  width: 20em;
  height: 18em;
  left: 820px;
  z-index: 10;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.steps .steps_info {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
}

#prize {
  padding: 93px 60px 0px 103px;
  height: 472px;
}
#prize .header_text {
  font-family: FiraSansCondensedBold;
  letter-spacing: 0.75px;
  color: #F2F1FF;
  line-height: 138%;
  font-size: 64px;
  font-weight: 900;
  width: 393px;
}

#juri .header, #mentors .header {
  font-weight: 900;
  font-size: 64px;
  line-height: 138%;
  letter-spacing: 0.75px;
  color: #222222;
  font-family: FiraSansCondensedBold;
}
#juri .description, #mentors .description {
  font-size: 24px;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
}
#juri .juri_item, #mentors .juri_item {
  width: 393px;
  margin-right: 23px;
  margin-bottom: 56px;
}
#juri .juri_item .image_holder, #mentors .juri_item .image_holder {
  width: 393px;
  height: 240px;
  transition: 0.8 all;
  overflow: hidden;
  position: relative;
}
#juri .juri_item .image_holder img, #mentors .juri_item .image_holder img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
}
#juri .juri_item .image_holder:hover img, #mentors .juri_item .image_holder:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#juri .juri_item .text_info, #mentors .juri_item .text_info {
  font-weight: 900;
  font-size: 24px;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
}
#juri .juri_item .text_info .name, #mentors .juri_item .text_info .name {
  color: #2412ce;
}

#acsel {
  margin-top: 250px;
  padding-bottom: 35px;
}
#acsel .item {
  display: flex;
  padding-bottom: 24px;
  padding-top: 64px;
  border-bottom: 2px solid #00FFFF;
}
#acsel .item .header {
  font-weight: 900;
  font-size: 64px;
  font-family: FiraSansCondensedBold;
  line-height: 138%;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  color: #222222;
  padding-right: 265px;
  align-self: flex-end;
}
#acsel .item .description {
  font-size: 24px;
  line-height: 165%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.75px;
  color: #222222;
  width: 492px;
}

#comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#comments .comment {
  display: flex;
  flex-direction: column;
  width: 704px;
  margin-right: 24px;
}
#comments .comment .image_holder {
  position: relative;
  height: 344px;
  width: 704px;
}
#comments .comment .image_holder .arrow_left {
  position: absolute;
  bottom: 15px;
  right: 50px;
}
#comments .comment .image_holder .arrow_right {
  position: absolute;
  bottom: 15px;
  right: 1px;
}
#comments .comment .comment_subject {
  background: #F2F1FF;
  padding: 40px;
  height: 304px;
}
#comments .comment .comment_subject .author_name {
  font-weight: 900;
  font-size: 24px;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
}
#comments .comment .comment_subject .author_name span {
  font-family: FiraSansCondensedBold;
  color: #210fce;
}
#comments .comment .comment_subject .author_text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
  margin-top: 24px;
}
#comments .zayavka {
  height: 728px;
  width: 496px;
}

.success_product {
  font-family: FiraSansCondensedBold;
  font-weight: 900;
  font-size: 64px;
  line-height: 138%;
  letter-spacing: 0.75px;
  color: #222222;
}

.main_text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 165%;
  letter-spacing: 0.75px;
  color: #222222;
}

.text_block {
  text-align: center;
  padding: 11px 15px 11px 16px;
  font-size: 24px;
  width: auto;
  letter-spacing: 0.75px;
  text-transform: lowercase;
  font-family: FiraSansCondensedBold;
}

.background_blue {
  background-color: #210FCE;
}

.background_blue_light {
  background-color: #00FFFF;
  color: #00017B;
}

.background_white {
  background-color: #F2F1FF;
  color: #00017B;
}

.margin_left_73 {
  margin-left: 73px;
}

.margin_top_21 {
  margin-top: 21px;
}

.margin_top_8 {
  margin-top: 8px;
}

.margin_top_37 {
  margin-top: 37px;
}

.margin_top_46 {
  margin-top: 46px;
}

.button {
  padding: 11px 15px 11px 16px;
  border: 4px solid #00FFFF;
  color: #00FFFF;
  font-family: FiraSansCondensedRegular;
  font-weight: 500;
  font-size: 24px;
}

.border_right {
  padding-right: 51px;
  border-right: 4px solid #DDDAFF;
  opacity: 0.4;
  height: 185px;
  position: relative;
}
.border_right .border_right_progress {
  height: 65%;
  position: absolute;
  top: 0;
  right: -4px;
  background: #00FFFF;
  width: 4px;
}

.bold_text {
  font-size: 32px;
  font-family: FiraSansCondensedBold;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.opacity {
  opacity: 0.4;
}

.light_text {
  font-size: 32px;
  letter-spacing: 0.75px;
}

.text_center {
  text-align: center;
}

.width_113 {
  width: 113px;
}

.width_664 {
  width: 664px;
}

.width_442 {
  width: 442px;
}

.width_393 {
  width: 393px;
}

.width_203 {
  width: 203px;
}

.width_492 {
  width: 492px;
}

/*# sourceMappingURL=styles.css.map */
